<!-- main banner -->
<div class="main-top" id="home">
    <!-- header -->
    <header>
        <div class="container-fluid">
            <div class="header d-lg-flex justify-content-between align-items-center py-3 px-sm-3">
                <!-- logo -->
                <div id="logo">
                    <h1><a routerLink="home"><span class="fa fa-linode mr-2"></span>Credence Technologies</a></h1>
                </div>
                <!-- //logo -->
                <!-- nav -->
                <div class="nav_w3ls">
                    <nav>
                        <label for="drop" class="toggle">Menu</label>
                        <input type="checkbox" id="drop" />
                        <ul class="menu">
                            <li><a routerLink="home" class="active">Home</a></li>
                            <li><a routerLink="about">About Us</a></li>
                            <li><a routerLink="about">Portfolio</a></li>
                            <li><a routerLink="pricing">Plans</a></li>
                            <li>
                                <!-- First Tier Drop Down -->
                                <label for="drop-2" class="toggle toogle-2">Services <span class="fa fa-angle-down" aria-hidden="true"></span>
                                </label>
                                <a routerLink="services">Services <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                <input type="checkbox" id="drop-2" />
                                <ul>
                                    <!-- <li><a routerLink="services" class="drop-text">Services</a></li> -->
                                    <li><a routerLink="faq" class="drop-text">Faq's</a></li>
                                    <li><a routerLink="404.html" class="drop-text">404</a></li>
                                    <li><a routerLink="stats" class="drop-text">Statistics</a></li>
                                    <li><a routerLink="about" class="drop-text">Why Choose Us?</a></li>
                                    <li><a routerLink="about" class="drop-text">Our Team</a></li>
                                    <li><a routerLink="partners" class="drop-text">Partners</a></li>
                                </ul>
                            </li>
                            <li><a routerLink="contact">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- //nav -->
                <div class="d-flex mt-lg-1 mt-sm-2 mt-3 justify-content-center">
                  
                </div>
            </div>
        </div>
    </header>
    <!-- //header -->